html{
    height: 100%;
}
body{
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  background-color: #f9fafb;
}
#main-container{
    min-height: 100%;

    &.pad-top{
        padding-top: 65px;
        @include media-breakpoint-up(md){
            padding-top: 115px;
        }
    }

    &::after{
        content: "";
        display: block;
        height: 300px;
    }
}

footer{
    position: absolute;
    width: 100%;
    min-height: 300px;
    background-color: $brand-dark;
    color: #eee;
    z-index: 3;
    .top-footer{
        background-color: $brand-info;
        .dati-legali{
            text-align: center;
            color: #fff;
            font-size: 1rem;
            margin-top: 15px;
            margin-bottom: 15px;
            p{
                margin-bottom: 5px;
                strong{
                    font-size: 1.5rem;
                    font-weight: 100;
                }
            }
            .social{
                font-size: 2rem;
                a{
                    color: #fff;
                    text-decoration: none;
                    margin: 0 15px;
                    transition: color 0.4s;
                    &:hover,:focus{
                        text-decoration: none;
                        color: $brand-primary;
                    }
                }
            }
        }
    }
    .bottom-footer{
        line-height: 25px;
        .copy{
            text-align: center;
            margin-left: 10px;
            @include media-breakpoint-up(sm) {
                text-align: left;
            }
        }
        .madebymasai {
            text-align: right;
            & a {
                font-family: monospace;
                font-size: $font-size-xs;
                color: #cfbdbc;
            }
        }
    }
}
