header {
    text-align: right;
    width: 100%;
    z-index: 20;
    &.fixed-top{
        position: fixed;
        .top-header{
            transition: all .6s;
            background-color: white;
            height: 10px;
            @include media-breakpoint-up(md){
                height: 20px;
            }
            figure{
                img{
                    margin-top: 5px!important;
                    margin-right: 5px;
                    @include media-breakpoint-up(md){
                        margin-top: 0!important;
                        margin-right: 15px;
                    }
                }
                figcaption{
                    display: none;
                }
            }

        }
    }
    .top-header {
        background-color: $brand-info;
        figure{
            margin: 0;
            img{
                height: 70px;
                width: auto;
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 50%;
                margin: 5px 5px 5px 20px;
                z-index: 10;
                @include media-breakpoint-up(md) {
                    height: 120px;
                    margin: 15px 15px 15px 40px;
                }
            }
            figcaption{
                display: inline-block;
                vertical-align: middle;
                font-size: 1.5rem;
                line-height: 3rem;
                font-weight: 100;
                color: #fff;
                margin-right: 80px;
                @include media-breakpoint-up(md){
                    font-size: 2.5rem;
                    line-height: 6rem;
                    margin-right: 160px;
                }
            }
        }
    }
    nav{
        border-top: 1px solid $brand-primary;
        border-bottom: 1px solid $brand-primary;
        line-height: 35px;
        font-size: 1.25rem;
        font-weight: 200;
        background-color: #fff;
        @include media-breakpoint-up(md){
            line-height: 50px;
        }
        ul{
            padding-right: 85px;
            margin-left: 15px;
            @include media-breakpoint-up(md){
                padding-right: 160px;
            }
            li:last-child{
                margin-left: 0!important;
            }
        }
        a{
            color: $brand-info;
            &:hover{
                color: $brand-dark;
            }
        }
    }
}
.scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
