.blog-list-article{
    padding: 0;
    .left-block-pad{
        padding: 15px 20px;
    }
    .right-block-nopad{
        padding: 0;
    }
    h2{
        font-size: 1.75rem;
    }
    img{
        float: right;
        margin: 0;
    }
}
article.blog-post{
    header{
        h1{
            font-size: 1.75rem;
            @include media-breakpoint-up(md){
                font-size: 2.5rem;
            }
        }
        time{
            display: block;
            text-align: right;
            color: $brand-info;
            font-size: 1.25rem;
            font-weight: 100;
            @include media-breakpoint-up(md){
                font-size: 1.5rem;
            }
            &:after{
                font-size: 1.75rem;
                line-height: 1.75rem;
                margin-left: 10px;
                vertical-align: text-top;
            }
        }
    }
    section.description{
        color: $brand-info;
        font-size: 17px;
        font-weight: 100;
        @include media-breakpoint-up(md){
            font-size: 1.25rem;
        }
        div.icon{
            font-size: 1.5rem;
            line-height: 1px;
        }
        div.icon-down-open-big{
            margin-top: -12px;
            color: rgba(102, 113, 139, 0.8);
        }
        div.icon-down-open-mini{
            margin-top: -5px;
            margin-bottom: 5px;
            color: rgba(102, 113, 139, 0.6);
        }

    }
}
hr.article-date-hr{
    margin-top: 30px;
    margin-bottom: 10px;
}
time.article-date{
    display: block;
    text-align: right;
    color: $brand-info;
    margin-bottom: -15px;
    font-size: 20px;
    font-weight: 100;
    &:after{
        vertical-align: text-top;
    }
}
