<footer class="footer">
    <div class="container-fluid">
        <div class="row top-footer">
            <div class="col-xs-12 dati-legali">
                <p>
                    <strong>Filippo Masai Masoni</strong> <br>
                    Follow me
                </p>
                <div class="social">
                    <a class="icon icon-social-instagram" href="#"></a>
                    <a class="icon icon-social-facebook" href="#"></a>
                    <a class="icon icon-social-youtube" href="#"></a>
                    <a class="icon icon-social-linkedin" href="#"></a>
                    <a class="icon icon-social-twitter" href="#"></a>
                    <a class="icon icon-social-spotify" href="#"></a>
                    <a class="icon icon-social-google-plus" href="#"></a>
                </div>
            </div>
        </div>
        <div class="row bottom-footer">
            <div class="col-sm-6">
                <div class="copy">Copyright © 2016 Filippo Masai Masoni</div>
            </div>
            <div class="col-sm-6">
                <div class="madebymasai">
                    <a href="#">Made by Masai</a>
                </div>
            </div>
        </div>
    </div>

</footer>
