<footer class="footer">
    <div class="container-fluid">
        <div class="row top-footer">
            <div class="col-xs-12 dati-legali">
                <p>
                    <strong>Filippo Masai Masoni</strong> <br>
                    Follow me
                </p>
                <div class="social hidden-md-up">
                    <a class="icon icon-social-instagram" href="{{ site.instagram-app }}" target="_blank" ></a>
                    <a class="icon icon-social-facebook" href="{{ site.facebook-app }}" target="_blank" ></a>
                    <a class="icon icon-social-youtube" href="{{ site.youtube-app }}" target="_blank" ></a>
                    <a class="icon icon-social-linkedin" href="{{ site.linkedin-app }}" target="_blank" ></a>
                    <a class="icon icon-social-twitter" href="{{ site.twitter-app }}" target="_blank" ></a>
                    <a class="icon icon-social-spotify" href="{{ site.spotify-app }}" target="_blank" ></a>
                    <a class="icon icon-social-google-plus" href="{{ site.gplus-app }}" target="_blank" ></a>
                </div>
                <div class="social hidden-sm-down">
                    <a class="icon icon-social-instagram" href="{{ site.instagram-link }}" target="_blank" ></a>
                    <a class="icon icon-social-facebook" href="{{ site.facebook-link }}" target="_blank" ></a>
                    <a class="icon icon-social-youtube" href="{{ site.youtube-link }}" target="_blank" ></a>
                    <a class="icon icon-social-linkedin" href="{{ site.linkedin-link }}" target="_blank" ></a>
                    <a class="icon icon-social-twitter" href="{{ site.twitter-link }}" target="_blank" ></a>
                    <a class="icon icon-social-spotify" href="{{ site.spotify-link }}" target="_blank" ></a>
                    <a class="icon icon-social-google-plus" href="{{ site.gplus-link }}" target="_blank" ></a>
                </div>
            </div>
        </div>
        <div class="row bottom-footer">
            <div class="col-sm-6">
                <div class="copy">Copyright © 2016 Filippo Masai Masoni</div>
            </div>
            <div class="col-sm-6">
                <div class="madebymasai">
                    <a href="#">Made by Masai</a>
                </div>
            </div>
        </div>
    </div>

</footer>
