<nav class="">
    <ul class="nav nav-inline scroll">
        {% unless page.url contains "/it/" %}
            {% for link in site.nav %}
                <li class="nav-link">
                    <a href="{{ site.url }}{{ link.url }}" class="{% if page.url contains link.url %} active-nav {% endif %}">{{ link.title }}</a>
                </li>
            {% endfor %}
        {% endunless %}
        {% if page.url contains "/it/" %}
            {% for link in site.nav_it %}
                <li class="nav-link">
                    <a href="{{ site.url }}{{ link.url }}" class="{% if page.url contains link.url %} active-nav {% endif %}">{{ link.title }}</a>
                </li>
            {% endfor %}
        {% endif %}
        <li class="nav-link lang-toggle">
            <a class="lang-link {% if page.url contains "/it/" %} not-active-lang {% endif %}"
                href="{{ site.url }}{{ page.url | remove: "/it" | remove: "/en" | prepend: "/en"}}">
                <img src="/assets/img/Flag_of_the_United_Kingdom.svg" alt="English" />
                EN
            </a>
        </li>
        {% unless page.url contains "/blog/" %}
        |
        <li class="nav-link lang-toggle last-li">
            <a class="lang-link {% unless page.url contains "/it/" %} not-active-lang {% endunless %}"
                href="{{ site.url }}{{ page.url | remove: "/it" | remove: "/en" | prepend: "/it"}}">
                <img src="/assets/img/Flag_of_Italy.svg" alt="Italian" />
                IT
            </a>
        </li>
        {% endunless %}
    </ul>
</nav>
