@charset "UTF-8";

@font-face {
  font-family: "masai";
  src:url("../fonts/masai.eot");
  src:url("../fonts/masai.eot?#iefix") format("embedded-opentype"),
    url("../fonts/masai.woff") format("woff"),
    url("../fonts/masai.ttf") format("truetype"),
    url("../fonts/masai.svg#masai") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "masai" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "masai" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-icon]:after {
  font-family: "masai" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "masai" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-instagram:before {
  content: "\61";
}
.icon-social-google-plus:before {
  content: "\62";
}
.icon-social-facebook:before {
  content: "\63";
}
.icon-social-linkedin:before {
  content: "\64";
}
.icon-social-twitter:before {
  content: "\65";
}
.icon-social-spotify:before {
  content: "\66";
}
.icon-social-youtube:before {
  content: "\67";
}
.icon-camera-photo-streamline:before {
  content: "\68";
}
.icon-computer-imac-2:before {
  content: "\69";
}
.icon-earth-globe-streamline:before {
  content: "\6a";
}
.icon-date:after {
  content: "\6b";
}
.icon-bubble-comment-streamline-talk:before {
  content: "\6c";
}
.icon-right-open-big:before {
  content: "\6d";
}
.icon-right-open-mini:before {
  content: "\6e";
}
.icon-down-open-big:before {
  content: "\6f";
}
.icon-down-open-mini:before {
  content: "\70";
}
.icon-calendar-1:after {
  content: "\72";
}
