---
layout: default
---
<div class="container">
    <div class="row flex-items-md-center">
        <div class="col-md-5">
            <article class="about-home">
                {{content}}
            </article>
        </div>
        <div class="col-md-7">
            {% include instagram.html %}
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="row">
        <div class="bkg-img" style="background-image: url('/assets/img/photo/home-1.jpg')">

        </div>
    </div>
</div>
