---
layout: default
---
<div class="container">
    <div class="blog-header">
        {{ content }}
    </div>
    {% for project in site.categories.projects %}
    <hr class="article-date-hr">
    <time class="icon icon-calendar-1 article-date" itemprop="datePublished" datetime="{{ post.date | date: '%Y-%m-%d' }}">
        {% if project.date %}{{ project.date | date: '%d %b %Y' }}{% else %}&#x2756;{% endif %}
    </time>
    <article class="row article blog-list-article" itemscope="" itemtype="http://schema.org/Blog">
        <div class="col-md-6 left-block-pad" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">

            <h2>
              <span itemprop="name">{{ project.title | markdownify | remove: "<p>" | remove: "</p>" }}</span>
              <meta itemprop="keywords" content="{{ post.tags | join: ',' }}" />
            </h2>

            <hr>
            <p itemprop="description">{{ project.content }}</p>
        </div>
        <div class="col-md-6 right-block-nopad">
            <img src="{{ project.image }}" class="figure-img img-fluid img-rounded" alt="{{ img | replace: '-', ' ' | remove: '.jpg' }}">
        </div>
    </article>
    {% endfor %}
</div>
