---
layout: default
---
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <article>
                <h1 class="section-title">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
                <div class="date-highlight">{% if page.date %}{{ page.date | date: '%d %b %Y' }}{% else %}&#x2756;{% endif %}</div>
                {{content}}
                <div class="section-line reverse"><a href="{{ site.url}}/blog">Back to posts</a> <em>/</em></div>
            </article>
        </div>
    </div>
</div>
